@page "/"

<h1>TODO List (@TodoLeft left)</h1>

<TodoList Todos="@Todos" TodoLeftChanged="@OnTodoLeftChanged"></TodoList>

<AddTodo OnTodoAdd="@AddTodo"></AddTodo>

@code {
    public int TodoLeft { get; set; }
    IList<TodoItem> Todos = new List<TodoItem>
    {
        new TodoItem { Title = "Play around with Blazor" },
    };

    async Task OnTodoLeftChanged(int todoLeft)
    {
        TodoLeft = todoLeft;
        await Task.CompletedTask;
    }

    void AddTodo(string newTodo)
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            var todo = new TodoItem { Title = newTodo };
            Todos.Add(todo);
        }
    }

    protected override void OnInitialized()
    {
        for (int i = 0; i < 10; i++)
        {
            Todos.Add(new TodoItem() { Title = "TODO" + i });
        }

        TodoLeft = Todos.Count(todo => !todo.IsDone);

        base.OnInitialized();
    }

    protected override bool ShouldRender()
    {
        Console.WriteLine("Index ShouldRender");
        return base.ShouldRender(); ;
    }
}
